In [ ]:
     ############################################NOTE: 03/12/2018#################################################
    #Need to create a loop and possibly a dictionary function to generate the desired outputs. Am able to do so currently
    #but only via hardcoding.
    #Having problems with searching for the unique Candidate attribute "O'Tooley" on the account of the apostrophe in the name
    #messing the syntax of my function.

In [1]:
import pandas as pd
import os
csv1 = os.path.join('Resource', 'election_data_1.csv')
csv2 = os.path.join('Resource', 'election_data_2.csv')

In [2]:
# Read in the csv using Pandas and print out the DataFrame that is returned
csv1_df = pd.read_csv(csv1)
csv2_df = pd.read_csv(csv2)

In [12]:
csv1_df.head
#803000 rows

In [11]:
csv2_df.head
#3521001 rows

In [13]:
#Concatenate CVS files
csv_conc = pd.concat([csv1_df,csv2_df])
csv_conc
#4324001 rows

         Voter ID      County Candidate
0         1405627      Harsaw    Vestal
1         1711723  Mershville    Vestal
2         1550639  Matterdawn    Vestal
3         1042621      Harsaw    Vestal
4         1583965  Matterdawn    Vestal
5         1943299  Mershville    Vestal
6         1880982      Harsaw    Torres
7         1305689      Harsaw    Torres
8         1759114  Mershville    Vestal
9         1745020  Matterdawn      Seth
10        1562401      Harsaw    Vestal
11        1467337      Porpus    Torres
12        1091170  Matterdawn    Torres
13        1947604      Harsaw    Vestal
14        1400758  Mershville    Torres
15        1009045  Matterdawn    Vestal
16        1246891  Matterdawn    Cordin
17        1744120  Matterdawn    Vestal
18        1571939  Mershville    Vestal
19        1936895  Matterdawn    Vestal
20        1122582  Matterdawn    Torres
21        1307503  Mershville    Torres
22        1594030      Harsaw    Torres
23        1072081  Mershville    Torres
24        1368919  Mershville    Vestal
25        1954121      Harsaw    Torres
26        1427438  Matterdawn    Vestal
27        1049416      Porpus    Torres
28        1619112      Harsaw    Torres
29        1725473  Mershville    Vestal
...           ...         ...       ...
3520971  17923362       Marsh      Khan
3520972  11357988       Marsh      Khan
3520973  13741548       Marsh    Correy
3520974  19929693       Marsh      Khan
3520975  16441960       Marsh      Khan
3520976  19992954       Marsh  O'Tooley
3520977  13845046       Marsh      Khan
3520978  18550834       Marsh    Correy
3520979  17540334       Queen      Khan
3520980  11020483       Queen  O'Tooley
3520981  15912885     Trandee      Khan
3520982  12609301       Marsh      Khan
3520983  14774584       Marsh        Li
3520984  13283796       Marsh      Khan
3520985  13359648       Bamoo      Khan
3520986  17391173       Queen    Correy
3520987  18995053       Queen      Khan
3520988  11867516       Bamoo        Li
3520989  18589143       Marsh      Khan
3520990  12282098       Marsh      Khan
3520991  16950418       Marsh    Correy
3520992  13715415       Marsh      Khan
3520993  18129849       Marsh      Khan
3520994  15785886       Marsh    Correy
3520995  12890090       Marsh    Correy
3520996  18050509       Marsh      Khan
3520997  13060332       Marsh      Khan
3520998  16754708       Queen      Khan
3520999  12083146       Queen      Khan
3521000  14526187       Queen  O'Tooley

[4324001 rows x 3 columns]

In [15]:
#The total number of votes cast
total_vote = csv_conc['Voter ID'].count()

In [21]:
#A complete list of candidates who received votes
csv_conc['Candidate'].unique()

array(['Vestal', 'Torres', 'Seth', 'Cordin', 'Khan', 'Correy', 'Li',
       "O'Tooley"], dtype=object)

In [76]:
    ##########################################Test CODE#####################################################

    #For the purpose of avoiding hardcoding, the script below was a means to have a template to derive my numbers.
    #That being said, I believe that what it is that I am lacking is a) a loop and b) I think I may need to create a
    #dictionary. 
    
#The percentage of votes each candidate won
#csv_conc.groupby('Candidate')['Voter ID'].count()
Vestal = csv_conc.loc[(csv_conc['Candidate']=='Vestal')]
Vestal_per = 100 * (Vestal['Voter ID'].count() / total_vote)

Torres = csv_conc.loc[(csv_conc['Candidate']=='Torres')]
Torres_per = Torres['Voter ID'].count() / total_vote

Vestal = csv_conc.loc[(csv_conc['Candidate']=='Vestal')]
Vestal_per = Vestal['Voter ID'].count() / total_vote

Seth = csv_conc.loc[(csv_conc['Candidate']=='Seth')]
Seth_per = Seth['Voter ID'].count() / total_vote

Cordin = csv_conc.loc[(csv_conc['Candidate']=='Cordin')]
Cordin_per = Cordin['Voter ID'].count() / total_vote

Khan = csv_conc.loc[(csv_conc['Candidate']=='Khan')]
Khan_per = Khan['Voter ID'].count() / total_vote

Correy = csv_conc.loc[(csv_conc['Candidate']=='Correy')]
Correy_per = Correy['Voter ID'].count() / total_vote

Li = csv_conc.loc[(csv_conc['Candidate']=='Li')]
Li_per = Li['Voter ID'].count() / total_vote

#OTooley = csv_conc.loc[(csv_conc['Candidate']=='O'Tooley']
#OTooley_per = OTooley['Voter ID'].count() / total_vote

In [78]:
#while csv_conc.loc[(csv_conc['Candidate'])] :
    #print(['Voter ID'].count() / total_vote)

In [79]:
print("Election Results")
print("-------------------------")
print("Total Votes: " + str(total_vote))
print("-------------------------")
print("Vestal: " + str(Vestal_per) + "% " "Torres: " + str(Torres_per) + "% "
     )

Election Results
-------------------------
Total Votes: 4324001
-------------------------
Vestal: 0.0891396648613171% Torres: 0.08171135945620735%