In [ ]:
        ############################################NOTE: 03/12/2018#################################################
    #I failed to properly edit the 'Date' attribute between the two csv documents in order to have a single index
    #which I would have used to join the two files. Concatenating would have not been permissible given that we've
    #duplicate Date values, which would have created redundancy. I wanted to merge (i.e. sum) the matching values by Date.
    
    #Subsequently I did not join my CSVs, which would have then worked fine to output my final summary (see below)

In [132]:
import pandas as pd
import os
csv1 = os.path.join('Resource', 'budget_data_1.csv')
csv2 = os.path.join('Resource', 'budget_data_2.csv')

In [17]:
# Read in the csv using Pandas and print out the DataFrame that is returned
csv1_df = pd.read_csv(csv1)
csv2_df = pd.read_csv(csv2)

In [35]:
csv1_df.head #has 41 rows; i.e. 41 months worth of data between Oct. 12 - Feb. 16

<bound method NDFrame.head of       Date  Revenue
0   Oct-12  1154293
1   Nov-12   885773
2   Dec-12  -448704
3   Jan-13   563679
4   Feb-13   555394
5   Mar-13   631974
6   Apr-13   957395
7   May-13  1104047
8   Jun-13   693464
9   Jul-13   454932
10  Aug-13   727272
11  Sep-13   125016
12  Oct-13   339251
13  Nov-13    78523
14  Dec-13   977084
15  Jan-14  1158718
16  Feb-14   332681
17  Mar-14  -341227
18  Apr-14   173826
19  May-14   742611
20  Jun-14  1189806
21  Jul-14   607363
22  Aug-14 -1172384
23  Sep-14   587993
24  Oct-14   295198
25  Nov-14  -300390
26  Dec-14   468995
27  Jan-15   698452
28  Feb-15   967828
29  Mar-15  -454873
30  Apr-15   375723
31  May-15  1140526
32  Jun-15    83836
33  Jul-15   413189
34  Aug-15   551363
35  Sep-15  1195111
36  Oct-15   657081
37  Nov-15    66659
38  Dec-15   803301
39  Jan-16  -953301
40  Feb-16   883934>

In [36]:
csv2_df.head #has 86 rows; i.e. 41 months worth of data between Jan. 2009 - Feb. 2016

<bound method NDFrame.head of         Date  Revenue
0   Jan-2009   943690
1   Feb-2009  1062565
2   Mar-2009   210079
3   Apr-2009  -735286
4   May-2009   842933
5   Jun-2009   358691
6   Jul-2009   914953
7   Aug-2009   723427
8   Sep-2009  -837468
9   Oct-2009  -146929
10  Nov-2009   831730
11  Dec-2009   917752
12  Jan-2010   800038
13  Feb-2010  1117103
14  Mar-2010   181220
15  Apr-2010   120968
16  May-2010   844012
17  Jun-2010   307468
18  Jul-2010   502341
19  Aug-2010  -748679
20  Sep-2010 -1063151
21  Oct-2010   111367
22  Nov-2010   889322
23  Dec-2010  1028794
24  Jan-2011  -705201
25  Feb-2011   457393
26  Mar-2011   358440
27  Apr-2011   110092
28  May-2011  1111337
29  Jun-2011   691712
..       ...      ...
56  Sep-2013   339680
57  Oct-2013   809253
58  Nov-2013   924494
59  Dec-2013   998347
60  Jan-2014  -524902
61  Feb-2014   747765
62  Mar-2014   197783
63  Apr-2014   131625
64  May-2014  1016992
65  Jun-2014  -930753
66  Jul-2014   714387
67  Aug-2014   201005
68  Sep-2014   655535
69  Oct-2014   845108
70  Nov-2014   101736
71  Dec-2014   -93063
72  Jan-2015   984921
73  Feb-2015  -362343
74  Mar-2015   940457
75  Apr-2015   216399
76  May-2015   363036
77  Jun-2015   672160
78  Jul-2015   783533
79  Aug-2015  1079882
80  Sep-2015   288933
81  Oct-2015   894500
82  Nov-2015   411593
83  Dec-2015   789575
84  Jan-2016   355838
85  Feb-2016   437489

[86 rows x 2 columns]>

In [194]:
#I first need to combine the two tables by a common attribute, i.e. Date, and combine the Revenue for matching Dates.
    #Need to edit the Date formatting to match between the two CSV docs.
    #The "find and replace" strategy is due to my inability to figure out a way to universally convert the dates to a 
    #single standard, which is the desired function if this script is to work for batch processes.

    ###########################################Code did not work#####################################################
    
##Method 1, replace the 'year' value to create a common index to join/merge between csv 1 and 2:
findlist = ['12','13','14','15','16']
replacelist = ['2012','2013','2014','2015','2016']

def findReplace(find, replace):
    s = csv1_df.read()
    s = s.replace(Date, replacement)
    csv1_dfc.write(s)

for item, replacement in zip(findlist, replacelist):
    s = s.replace(Date, replacement)
    csv1_dfc.write(s)

##Method 2 to find and replace:
csv1_dfc = csv1_df
csv1_dfc['Date'] = csv1_dfc['Date'].replace({'12':'2012', '13': '2013'})

##To merge
    #merge_csv = csv2_df.merge(csv1_df, on='Date')
    #merge_csv.to_csv("output.csv", index=False)
    #print(merge_csv)
    #merged_left = pd.merge(left=csv2_df,right=csv1_df, how='left', left_on='Date', right_on='Date')

NameError: name 's' is not defined

In [ ]:
##########Below is what I would have ran for the combine csv; tried with just one to confirm whether the code worked############

In [160]:
# * The total number of months included in the dataset
count_month = csv1_df['Date'].count()

In [172]:
# * The total amount of revenue gained over the entire period
total_revenue = csv1_df['Revenue'].sum()

In [174]:
# * The average change in revenue between months over the entire period
avg_revenue = csv1_df['Revenue'].mean()

In [177]:
# * The greatest increase in revenue (date and amount) over the entire period
max_revenue = csv1_df['Revenue'].max()

In [178]:
# * The greatest decrease in revenue (date and amount) over the entire period
min_revenue = csv1_df['Revenue'].min()

In [182]:
print("Financial Analysis")
print("-------------------------")
print("Total Months: " + str(count_month))
print("Total Revenue: $" + str(total_revenue))
print("Average Revenue Change: $" + str(avg_revenue))
print("Greatest Increase in Revenue: $" + str(max_revenue))
print("Greatest Decrease in Revenue: $" + str(min_revenue))

# Financial Analysis
    # ----------------------------
    # Total Months: 25
    # Total Revenue: $1241412
    # Average Revenue Change: $216825
    # Greatest Increase in Revenue: Sep-16 ($815531)
    # Greatest Decrease in Revenue: Aug-12 ($-652794)

Financial Analysis
-------------------------
Total Months: 41
Total Revenue: $18971412
Average Revenue Change: $462717.3658536585
Greatest Increase in Revenue: $1195111
Greatest Decrease in Revenue: $-1172384